* {
	font-family: "Helvetica Neue",helvetica,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	box-sizing: border-box;
	user-select: none;
}

input {
	text-transform: none;
	font-weight: normal;
}

input:read-only {
	background-color: #CCC;
}

body {
	margin: 0;
}

#others {
	display: none;
}

#players,
#myself > div {
	border: 2px solid black;
	padding: 5px;
}

#players * {
	font-size: 14px;
}

#players > div {
	border-top: 1px solid black;
}

#players > div div {
	display: inline-block;
}

#players > div > div {
	margin-right: 8px;
}

#players div.inputs > div {
	border: 1px solid #333;
}

div.d10 {
	display: inline-block;
}

div.d10 div {
	font-size: 40px;
	line-height: 45px;
	transform: scale(0.95);
	transform-origin: bottom left;
}

#players div.d10 div {
	font-size: 30px;
	line-height: 35px;
}

#myself div.inputs div.prompt {
	width: 70%;
}

#players div.user div.username,
#players div.inputs div.prompt,
#players div.outputs div.result {
	display: block;
}

#players div.outputs > div {
	text-align: center;
	padding: 0 0.5em;
}

#players div.input .plus,
#players div.input .minus,
#players div.user .toggle {
	display: none;
}

#players.dm div.input .plus,
#players.dm div.input .minus,
#players.dm div.user .toggle {
	display: inline-block;
}

#players.dm > div.dm div.user .toggle {
	display: none;
}

#players.not-dm > div.hidden > div.display {
	display: none;
}

div.input {
	position: relative;
}

#players div.prompt,
#players div.input {
	text-align: center;
	min-width: 50px;
}

#players div.input > div {
	padding: 0 4px;
}

#players div.input div.secret,
div.input div.secret {
	display: none;
}

.not-dm.secret div.input div.secret {
	border: 1px solid red;
	text-align: center;
	color: red;
	transform: rotate(-5deg);
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 17px;
	background-color: white;
	display: block;
}

#myself div.input > div {
	padding:5px;
	text-align: center;
	font-size: 25px;
}
#myself div.input > div.value {
	min-width: 40px;
}

div.input > div.minus,
div.input > div.plus,
.roll,
#join,
#leave
{
	cursor: pointer;
}

#join,
#leave,
.roll {
	background-color: green;
	color: white;
	text-align: center;
	padding: 6px;
	border-radius: 10px;
}

#myself.not-dm.locked div.roll {
	border: 1px solid black;
	color: #888;
	background-color: #EEE;
	cursor: not-allowed;
}

div.toggle {
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
	color: #888;
	text-align: center;
	font-size: 0.8em;
	padding: 0 0.4em;
}

div.toggle > span {
	font-size: 1em;
}

span.check {
	padding-right: 0.25em;
	color: transparent;
}

.hidden div.toggle#hidden span,
.locked div.toggle.locked span,
.secret div.toggle.secret span {
	color: green;
}

div.face {
	text-align: center;
	border: 5px solid black;
	border-radius: 10px;
	height: 55px;
	width: 55px;
}

#players div.face {
	height: 45px;
	width: 45px;
}

div.display > div.d10 {
	margin: 5px;
}

#players div.display > div.d10 {
	margin: 2px;
}

div.inputs > div > div,
div.inputs > div > div > div,
div.display div,
div.connections div {
	display: inline-block;
}

div.connections > div {
	padding: 3px;
}

div.connections div {
	white-space: nowrap;
}

div.connections div.prompt {
	padding-left: 1em;
	padding-right: 0.25em;
}

div.connections input {
	width: 140px;
}

#myself div.inputs,
#myself div.display,
#myself div.outputs {
	float: left;
	width: 100vw;
	min-height: 180px;
}

.landscape #myself div.inputs {
	width: 30vw;
}

.landscape #myself div.display {
	width: 70vw;
}

#myself div.outputs {
	min-height: 100px;
}

#myself div.outputs > div {
	width: 100%;
	text-align: center;
}

#myself div.outputs span {
	font-size: 50px;
}

#myself div.outputs .smaller span {
	font-size: 20px;
}

#players div.outputs .smaller {
	display: none;
}

#players div.outputs.fail > div.smaller {
	display: block;
}

#players div.outputs.fail > div.extra {
	display: none;
}

div.outputs > div > span {
	display: none;
}

div.outputs.messyCritical > div > span.messyCritical,
div.outputs.bestialFailure > div > span.bestialFailure,
div.outputs.botch > div > span.botch,
div.outputs.success > div > span.success,
div.outputs.fail > div > span.fail,
div.outputs.rolling > div > span.rolling {
	display: inline;
}

div.outputs.bestialFailure > div.result > span.botch,
div.outputs.bestialFailure > div.result > span.fail,
div.outputs.botch > div.result > span.fail {
	display: none;
}

#hidden {
	margin-left: 2em;
}

#join,
#joining,
#leaving,
#leave {
	display: none;
	margin-left: 2em;
	padding: 0 1em;
}

#joining,
#leaving {
	font-style: italic;
	color: #88F;
}

.left #join,
.joining #joining,
.leaving #leaving,
.joined #leave {
	display: inline-block;
}
