* {
	font-family: "Helvetica Neue",helvetica,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	box-sizing: border-box;
	user-select: none;
}

body {
	margin: 0;
}

body > div {
	border: 2px solid black;
	padding: 5px;
}

div.d10 {
	display: inline-block;
}

div.d10 div {
	font-size: 40px;
	line-height: 45px;
	transform: scale(0.95);
	transform-origin: bottom left;
}

div.prompt {
	width: 70%;
}

div.input > div {
	padding:5px;
	text-align: center;
	font-size: 25px;
}
div.input > div.value {
	min-width: 40px;
}

div.input > div.minus,
div.input > div.plus,
#roll
{
	cursor: pointer;
}

#roll {
	background-color: green;
	color: white;
	text-align: center;
	padding: 6px;
	border-radius: 10px;
}

div.face {
	text-align: center;
	border: 5px solid black;
	border-radius: 10px;
	height: 55px;
	width: 55px;
}

div.display > div.d10 {
	margin: 5px;
}

div.inputs > div > div,
div.inputs > div > div > div {
	display: inline-block;
}

div.display div {
	display: inline-block;
}

div.inputs,
div.display,
div.outputs {
	float: left;
	width: 100vw;
	min-height: 180px;
}

.landscape div.inputs {
	width: 30vw;
}

.landscape div.display {
	width: 70vw;
}

div.outputs {
	min-height: 100px;
}

div.outputs > div {
	width: 100%;
	text-align: center;
}

div.outputs span {
	font-size: 50px;
}

div.outputs .smaller span {
	font-size: 20px;
}

div.outputs > div > span {
	display: none;
}

div.outputs.messyCritical > div > span.messyCritical,
div.outputs.bestialFailure > div > span.bestialFailure,
div.outputs.botch > div > span.botch,
div.outputs.success > div > span.success,
div.outputs.fail > div > span.fail,
div.outputs.rolling > div > span.rolling {
	display: inline;
}

div.outputs.bestialFailure > div.result > span.botch,
div.outputs.bestialFailure > div.result > span.fail,
div.outputs.botch > div.result > span.fail {
	display: none;
}
